body{
background-color: #CBF6FF;
}
#navbar{
     background-color: black;
  
     width: 100%;
     top: 0px;
  
    

}

.nav li{
    width: 33%;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 19px;
    display: block;
    
	}
.navbar-nav{
width:100%;
}



.navbar-inverse {
     background: black;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color: #fff;
}

.container-div {
  margin-left: 10%;
  margin-right: 10%;
 }

header {
  margin-top: 80px;
  width: 100%;
  background-color:  #853962;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
 }

.image-top{
display: block;

}
img{
max-width:100%;
max-height:100%;
}

#biography{
    display:none;
}



#header:hover #biography {
    display:block;
}

#biography:visited{
display:block;
}

.project-item{
font-family: 'Open Sans', sans-serif;

padding: 20px 0px 20px 0px;
	
	
}
.project-item h1{
	color: black;
}

.text-container{
color: grey;

padding-top: 65px;	
}
.text-container p {
display: block;
text-align: left;

}

